## 1. Counting missing values in the tables

In [195]:
%%sql
postgresql:///sports
-- Count all columns from the info table, aliasing as total_rows
-- Count the number of non-missing entries for description, listing_price, and last_visited
-- Join info, finance, and traffic

SELECT COUNT(*) as total_rows, COUNT(i.description) as count_description, COUNT(f.listing_price) as count_listing_price, COUNT(t.last_visited) as count_last_visited
from info i
Join finance f on i.product_id = f.product_id
Join traffic t on i.product_id = t.product_id

1 rows affected.

[(3179, 3117, 3120, 2928)]

## 2. Nike vs Adidas pricing.

In [197]:
%%sql

-- Select the brand, listing_price as an integer, and a count of all products in finance 
-- Join brands to finance on product_id
-- Filter for products with a listing_price more than zero
-- Aggregate results by brand and listing_price, and sort the results by listing_price in descending order

SELECT b.brand, CAST(f.listing_price AS INTEGER), COUNT(f.*)
from finance f JOIN brands b
ON f.product_id = b.product_id
WHERE f.listing_price > 0
GROUP BY b.brand, f.listing_price
ORDER BY f.listing_price desc

 * postgresql:///sports
77 rows affected.

[('Adidas', 300, 2),
 ('Adidas', 280, 4),
 ('Adidas', 240, 5),
 ('Adidas', 230, 8),
 ('Adidas', 220, 11),
 ('Adidas', 200, 8),
 ('Nike', 200, 1),
 ('Adidas', 190, 7),
 ('Nike', 190, 2),
 ('Adidas', 180, 34),
 ('Nike', 180, 4),
 ('Adidas', 170, 27),
 ('Nike', 170, 14),
 ('Adidas', 160, 28),
 ('Nike', 160, 31),
 ('Adidas', 150, 41),
 ('Nike', 150, 6),
 ('Adidas', 140, 36),
 ('Nike', 140, 12),
 ('Adidas', 130, 96),
 ('Nike', 130, 12),
 ('Adidas', 120, 115),
 ('Nike', 120, 16),
 ('Adidas', 110, 91),
 ('Nike', 110, 17),
 ('Adidas', 100, 72),
 ('Nike', 100, 14),
 ('Adidas', 96, 2),
 ('Nike', 95, 1),
 ('Adidas', 90, 89),
 ('Nike', 90, 13),
 ('Adidas', 86, 7),
 ('Adidas', 85, 1),
 ('Nike', 85, 5),
 ('Adidas', 80, 322),
 ('Nike', 80, 16),
 ('Nike', 79, 1),
 ('Adidas', 76, 149),
 ('Adidas', 75, 1),
 ('Nike', 75, 7),
 ('Adidas', 70, 87),
 ('Nike', 70, 4),
 ('Adidas', 66, 102),
 ('Nike', 65, 1),
 ('Adidas', 63, 1),
 ('Adidas', 60, 211),
 ('Nike', 60, 2),
 ('Adidas', 56, 174),
 ('Adidas', 55, 2),
 ('Adidas', 53, 43),
 ('Adidas', 50, 183),
 ('Nike', 50, 5),
 ('Adidas', 48, 42),
 ('Nike', 48, 1),
 ('Adidas', 46, 163),
 ('Adidas', 45, 1),
 ('Nike', 45, 3),
 ('Adidas', 43, 51),
 ('Adidas', 40, 81),
 ('Nike', 40, 1),
 ('Adidas', 38, 24),
 ('Adidas', 36, 25),
 ('Adidas', 33, 24),
 ('Adidas', 30, 37),
 ('Nike', 30, 2),
 ('Adidas', 28, 38),
 ('Adidas', 27, 18),
 ('Adidas', 25, 28),
 ('Adidas', 23, 1),
 ('Adidas', 20, 8),
 ('Adidas', 18, 4),
 ('Adidas', 16, 4),
 ('Adidas', 15, 27),
 ('Adidas', 13, 27),
 ('Adidas', 12, 1),
 ('Adidas', 10, 11),
 ('Adidas', 9, 1)]

## 3. Labeling price ranges for each of the brands in categories "Budget", "Average", "Expensive", "Elite".

In [199]:
%%sql

-- Select the brand, a count of all products in the finance table, and total revenue
-- Create four labels for products based on their price range, aliasing as price_category
-- Join brands to finance on product_id and filter out products missing a value for brand
-- Group results by brand and price_category, sort by total_revenue

SELECT b.brand, COUNT(f.*), SUM(f.revenue) as total_revenue, 
    CASE 
        WHEN f.listing_price < 42 THEN 'Budget'
        WHEN f.listing_price >= 42 AND f.listing_price < 74  THEN 'Average'
        WHEN f.listing_price >= 74 AND f.listing_price < 129  THEN 'Expensive'
        WHEN f.listing_price > 129  THEN 'Elite'
    END as price_category
from finance f JOIN brands b 
on f.product_id = b.product_id
WHERE b.brand is not NULL
GROUP BY b.brand, price_category
ORDER BY total_revenue desc

 * postgresql:///sports
8 rows affected.

[('Adidas', 849, 4626980.069999999, 'Expensive'),
 ('Adidas', 1060, 3233661.060000001, 'Average'),
 ('Adidas', 307, 3014316.8299999987, 'Elite'),
 ('Adidas', 359, 651661.1200000002, 'Budget'),
 ('Nike', 357, 595341.0199999992, 'Budget'),
 ('Nike', 82, 128475.59000000003, 'Elite'),
 ('Nike', 90, 71843.15000000004, 'Expensive'),
 ('Nike', 16, 6623.5, 'Average')]

## 4. Average discount by brand

In [201]:
%%sql

-- Select brand and average_discount as a percentage
-- Join brands to finance on product_id
-- Aggregate by brand
-- Filter for products without missing values for brand

SELECT b.brand, AVG(f.discount) * 100 as average_discount
from finance f JOIN brands b 
on f.product_id = b.product_id
WHERE b.brand is not NULL
GROUP BY b.brand

 * postgresql:///sports
2 rows affected.

[('Nike', 0.0), ('Adidas', 33.452427184465606)]

## 5. Correlation between revenue and reviews

In [203]:
%%sql

-- Calculate the correlation between reviews and revenue as review_revenue_corr
-- Join the reviews and finance tables on product_id

SELECT CORR(r.reviews, f.revenue) as review_revenue_corr
FROM reviews r JOIN finance f
ON r.product_id = f.product_id

 * postgresql:///sports
1 rows affected.

[(0.6518512283481301,)]

## 6. Ratings and reviews by product description length

In [205]:
%%sql

-- Calculate description_length
-- Convert rating to a numeric data type and calculate average_rating
-- Join info to reviews on product_id and group the results by description_length
-- Filter for products without missing values for description, and sort results by description_length

SELECT TRUNC(LENGTH(description) / 100) * 100 as description_length, ROUND(AVG(r.rating::numeric), 2) as average_rating
from info i JOIN reviews r
On i.product_id = r.product_id
WHERE i.description is not NULL
Group By description_length
ORDER BY description_length

 * postgresql:///sports
7 rows affected.

[(0.0, Decimal('1.87')),
 (100.0, Decimal('3.21')),
 (200.0, Decimal('3.27')),
 (300.0, Decimal('3.29')),
 (400.0, Decimal('3.32')),
 (500.0, Decimal('3.12')),
 (600.0, Decimal('3.65'))]

## 7. Reviews by month and brand

In [207]:
%%sql

-- Select brand, month from last_visited, and a count of all products in reviews aliased as num_reviews
-- Join traffic with reviews and brands on product_id
-- Group by brand and month, filtering out missing values for brand and month
-- Order the results by brand and month

SELECT b.brand, EXTRACT(MONTH from t.last_visited) as month, COUNT(r.*) as num_reviews
FROM traffic t 
JOIN reviews r on t.product_id = r.product_id
JOIN brands b on t.product_id = b.product_id
WHERE b.brand is not NULL AND EXTRACT(MONTH from t.last_visited) is not NULL
GROUP BY b.brand, month
ORDER BY b.brand, month

 * postgresql:///sports
24 rows affected.

[('Adidas', Decimal('1'), 253),
 ('Adidas', Decimal('2'), 272),
 ('Adidas', Decimal('3'), 269),
 ('Adidas', Decimal('4'), 180),
 ('Adidas', Decimal('5'), 172),
 ('Adidas', Decimal('6'), 159),
 ('Adidas', Decimal('7'), 170),
 ('Adidas', Decimal('8'), 189),
 ('Adidas', Decimal('9'), 181),
 ('Adidas', Decimal('10'), 192),
 ('Adidas', Decimal('11'), 150),
 ('Adidas', Decimal('12'), 190),
 ('Nike', Decimal('1'), 52),
 ('Nike', Decimal('2'), 52),
 ('Nike', Decimal('3'), 55),
 ('Nike', Decimal('4'), 42),
 ('Nike', Decimal('5'), 41),
 ('Nike', Decimal('6'), 43),
 ('Nike', Decimal('7'), 37),
 ('Nike', Decimal('8'), 29),
 ('Nike', Decimal('9'), 28),
 ('Nike', Decimal('10'), 47),
 ('Nike', Decimal('11'), 38),
 ('Nike', Decimal('12'), 35)]

## 8. Footwear product performance

In [209]:
%%sql

-- Create the footwear CTE, containing description and revenue
-- Filter footwear for products with a description containing %shoe%, %trainer, or %foot%
-- Also filter for products that are not missing values for description
-- Calculate the number of products and median revenue for footwear products

WITH footwear as (
    SELECT i.description, f.revenue from info i
    Join finance f on i.product_id = f.product_id
    WHERE i.description is not NULL And (i.description ILIKE '%shoe%' OR i.description ILIKE '%trainer%' OR i.description ILIKE '%foot%')
)
SELECT COUNT(*) as num_footwear_products, percentile_disc(0.5) WITHIN GROUP (ORDER BY revenue) as median_footwear_revenue
from footwear

 * postgresql:///sports
1 rows affected.

[(2700, 3118.36)]

## 9. Clothing product performance

In [211]:
%%sql

-- Copy the footwear CTE from the previous task
-- Calculate the number of products in info and median revenue from finance
-- Inner join info with finance on product_id
-- Filter the selection for products with a description not in footwear
WITH footwear as (
    SELECT i.description, f.revenue from info i
    Join finance f on i.product_id = f.product_id
    WHERE i.description is not NULL And (i.description ILIKE '%shoe%' OR i.description ILIKE '%trainer%' OR i.description ILIKE '%foot%')
)
SELECT COUNT(i.*) as num_clothing_products, percentile_disc(0.5) WITHIN GROUP (ORDER BY f.revenue) as median_clothing_revenue
FROM info i
Join finance f on i.product_id = f.product_id
WHERE i.description is not NULL AND i.description not in (SELECT description from footwear )

 * postgresql:///sports
1 rows affected.

[(417, 503.82)]